/.bundle/
/vendor/bundle/
/Gemfile.lock
/pkg/
/*.gem
/doc/
/yardoc/
/_yardoc/
/InstalledFiles
/coverage/
/spec/reports/
/test/reports/
/log/
/tmp/
/*.tmp
.byebug_history
*.swp
*~
.project
.idea/
/.vscode/
/*.iml
.DS_Store
Thumbs.db
.ruby-version
.ruby-gemset
.env
